<% if user_signed_in?%>
   <% if !current_user.items.blank?%>
   <div class="d-flex justify-content-end my-2"> <%= button_to "Delete All Items", delete_all_items_path, method: :post, form: { data: { turbo_confirm: "Are you sure?" } }, class:"btn btn-outline-danger"%></div>
   <% end %>

   <div id="items">
      <%= render @items%>
   </div>

<% else %>
   <%= render 'layouts/warning_landing_page'%>
<%end%>
