<h1> New Item </h1>

<%= turbo_frame_tag "new-item" do%>
    <%= render 'form'%>
    <div> <%= link_to 'Back', root_path, class:"btn btn-secondary"%> </div>
<%end%>

<%= link_to "Back To All Items", root_path, class:"btn btn-secondary"%>