body{
    font-family: 'Noto Sans', sans-serif;
}
a{
    text-decoration:none;
}
.button-light{
    background: rgb(231, 229, 225);
    color:rgb(56, 54, 54);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 5px 8px 3px 8px;
    border-radius: 10px;
    border:1px solid rgb(231, 229, 225);
}

.button-light:hover{
    color:rgb(231, 229, 225);
    background: rgb(56, 54, 54);
    transition: ease-in 0.2s;
}

a:hover{
    cursor:pointer;
}